<form action="/robots/<%= @robot.id %>" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Edit robot:</label><br/>
    <input type="hidden" name="_method" value="PUT" />
    <input type='text' name='robot[name]' value="<%= @robot.name %>" placeholder="Name"><br/>
    <input type='text' name='robot[city]' value="<%= @robot.city %>" placeholder="City"><br/>
    <input type='text' name='robot[state]' value="<%= @robot.state %>" placeholder="State"><br/>
    <input type='text' name='robot[birthday]' value="<%= @robot.birthday %>" placeholder="Birthday"><br/>
    <input type='text' name='robot[date_hired]' value="<%= @robot.date_hired %>" placeholder="Date Hired"><br/>
    <input type='text' name='robot[department]' value="<%= @robot.department %>" placeholder="Department"><br/><br/>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>
